<!DOCTYPE html>
<html lang="en">
<head>
  <title>djangoAsyncAdder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> djangoPastebin</a>
    </div>
  </div>
</nav>

  <div class="jumbotron text-center">
        <h1>Current Adder Task details</h1>
  </div>
<div class="container">
    <h2><center>Number 1 is {{ n1 }}</center></h2><br>
    <h2><center>Number 2 is {{ n2 }}</center></h2><br>
    <h2><center>Answer is {{ ans }}</center></h2><br>
    <h2><center>Published Date {{ date }}</center></h2><br>

</div>

<footer class="footer bg-primary navbar-fixed-bottom">
        <div class="container text-center">
          <small>Developed by Vishal Balasubramanian</small>
        </div>
</footer>

</body>
</html>
